
/**************************************************
 * BODY CSS DEFS
/**************************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
}
/**************************************************/

/**************************************************
 * HEADER CSS DEFS
/**************************************************/
header {
	font-size: 1em;
    -webkit-border-after: 5px solid black;
            border-block-end: 5px solid black;
}

ul.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 0px;
}

li.header {
    padding: 5px;
}

a:link.header, a:visited.header {
    background-color: #d0d0d0;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover.header, a:active.header {
    background-color: #0bd3d3;
    color: black;
    font-weight: bolder;
}

a:link.active, a:visited.active {
    background-color: #0bd3d3;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover.active, a:active.active {
    background-color: #0bd3d3;
    color: black;
    font-weight: bolder;
}
/**************************************************/

/**************************************************
 * MAIN CSS DEFS
/**************************************************/
.row {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    width: 90%;
}

.column-start {
    flex: 50%;
    text-align: left;
}

.column-end {
    flex: 50%;
    text-align: right;
}

a:link.add, a:visited.add {
    background-color: lightgreen;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover.add, a:active.add {
    background-color: lightgreen;
    color: black;
    font-weight: bolder;
}

.empty {
    text-align: center;
}

table {
    border: 2px solid black;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #0bd3d3;
}

th, td {
    width: 20%;
    padding: 10px;
}

input {
    width: 90%;
}

input.double {
    width: 95%;
}

.error {
    color: red;
}
/**************************************************/

/**************************************************
 * FOOTER CSS DEFS
/**************************************************/
footer {
	font-size: 1em;
    -webkit-border-before: 5px solid black;
            border-block-start: 5px solid black;
    text-align: right;
    padding: 5px;
}
/**************************************************/

